*{
    background-color: #FBFFF1;
    font-family: 'Fjalla One', sans-serif;
}
img{
    border-radius: 100px;
    border: 2px solid #252525;
    left: 45%;
    position: absolute;
    top: 20%;

}
h1{
    font-size: 70px;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}  div a{
    font-size: 30px;

    position: absolute;
    left: 35%;
    top: 55%;
    text-align: center;

}
a{
    font-size: 50px;
    color: black;
    left:46%;
    position: absolute;
    top: 70%;
    text-decoration: none;
}